{% extends 'masterPage.html' %} 
{% load static %}
{% block Content %}
<div class="sub-banner">
    <figure class="sub-bannersideshape mb-0">
        <img src="{% static 'images/sub-bannersideshape.png' %}" alt="" class="img-fluid">
    </figure>
<!-- Sub-Banner -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12 col-12">
                    <div class="banner_content" data-aos="fade-right">
                        <h1 class="text-white">Contact </h1>
                        <div class="box">
                            <span class="mb-0">Accueil</span><i class="first fa-regular fa-angle-right"></i><i class="second fa-regular fa-angle-right"></i><span class="mb-0 box_span">Contact</span>
                        </div> 
                    </div>
                </div> 
                <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                    <div class="banner_wrapper">
                        <figure class="mb-0 sub-bannerimage">
                            <img src="{% static 'images/sub-bannerimage.png' %}" alt="" class="">
                        </figure> 
                    </div>  
                </div>
            </div>
        </div> 
        <figure class="sub-bannersideshape2 mb-0">
            <img src="{% static 'images/sub-bannersideshape2.png' %}" alt="" class="img-fluid">
        </figure>
    </section>
</div>
<!--Contact section-->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="contact_content" data-aos="fade-right">
                    <h5>nos coordonnées</h5>
                    <h2>Informations de contact</h2>
                    <div class="contact-box">
                        <div class="box-image">
                            <figure class="contact-location">
                                <img src="{% static 'images/contact-location.png' %}" alt="" class="img-fluid">
                            </figure> 
                        </div>
                        <div class="box-content">
                            <h4>Location:</h4>
                            <p class="text-size-18">13 RUE AHMED EL MEJJATI RES LES ALPES 1 ER ETAGE N° 8 MAARIF CASABLANCA</p>
                        </div>
                    </div>
                    <div class="contact-box box-mb">
                        <div class="box-image">
                            <figure class="contact-phone">
                                <img src="{% static 'images/contact-phone.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="box-content">
                            <h4 class="heading">Phone:</h4>
                            <p>
                                <a href="tel:+212661616798" class="text-decoration-none text text-size-18">(+212 6 61616798)</a>
                            </p>
                            <p>
                                <a href="tel:+212520001878" class="mb-0 text-decoration-none text text-size-18">( 05 20 00 18 78/79)</a>
                            </p>
                        </div>
                    </div>
                    <div class="contact-box">
                        <div class="box-image">
                            <figure class="contact-email">
                                <img src="{% static 'images/contact-email.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="box-content">
                            <h4 class="heading">Email:</h4>
                            <p>
                                <a href="mailto:contact@smatch.ma" class="mb-0 text-decoration-none text-size-18">contact@smatch.ma</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="need-section">
                    <div class="need_content"> 
                        <h3>Besoin d'aide !</h3>
                        <form id="contactpage" method="POST" action="{% url 'contact' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group mb-0">    
                                    <input type="text" class="form_style" placeholder="Nom:" name="name"> 
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-0">
                                    <input type="email" class="form_style" placeholder="Email:" name="emailid">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-0">
                                    <input type="tel" class="form_style" placeholder="Téléphone:" name="phone">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class=" form-group mb-0">    
                                    <textarea class="form_style" placeholder="Message" rows="3" name="msg"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="manage-button text-center">
                                <button type="submit" class="submit_now text-decoration-none">Envoyer<i class="circle fa-regular fa-angle-right"></i></button>
                            </div>
                        </form>
                        <figure class="faq-image mb-0">
                            <img src="{% static 'images/aboutpage-image2.png' %}" alt="" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13296.134378031706!2d-7.6276942!3d33.578477!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d30987a8d7d1%3A0x2682b3b0ca6f23d3!2sSLS%20PARTNER%20%7C%20Cabinet%20de%20consulting%20et%20de%20conseil!5e0!3m2!1sfr!2sma!4v1690808035283!5m2!1sfr!2sma"
        width="100%" height="556" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{% endblock %}