{% extends 'masterPage.html' %} 
{% load static %}
{% block Content %}
<div class="sub-banner">
    <figure class="sub-bannersideshape mb-0">
        <img src="{% static 'images/sub-bannersideshape.png' %}" alt="" class="img-fluid">
    </figure>
<!-- Sub-Banner -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12 col-12">
                    <div class="banner_content" data-aos="fade-right">
                        <h1 class="text-white">ERP Odoo</h1>
                        <div class="box">
                            <span class="mb-0">Accueil</span><i class="first fa-regular fa-angle-right"></i><i class="second fa-regular fa-angle-right"></i><span class="mb-0">Projets</span>
                            <i class="first fa-regular fa-angle-right"></i><i class="second fa-regular fa-angle-right"></i><span class="mb-0 box_span">ERP Odoo</span>
                        </div> 
                    </div>
                </div> 
                <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                    <div class="banner_wrapper">
                        <figure class="mb-0 sub-bannerimage">
                            <img src="{% static 'images/sub-bannerimage.png' %}" alt="" class="">
                        </figure> 
                    </div>  
                </div>
            </div>
        </div> 
        <figure class="sub-bannersideshape2 mb-0">
            <img src="{% static 'images/sub-bannersideshape2.png' %}" alt="" class="img-fluid">
        </figure>
    </section>
</div>
<section class="aboutpage-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="aboutpage_wrapper">
                    <figure class="mb-0 aboutpage-image ">
                        <img src="{% static 'images/odoo1.png' %}" alt="" style="border-radius: 50px;">
                    </figure> 
                    <figure class="mb-0 aboutpage-image2">
                        <img src="{% static 'images/aboutpage-image2.png' %}" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="aboutpage_content" data-aos="fade-right">
                    <h2>ERP Odoo</h2>
                    <p class="text-size-18">Chez SM@TCH,Notre solution d'intégration ERP Odoo a été spécialement conçue pour s'adapter aux défis de gestion d'entreprise les plus complexes. Dans un contexte en constante évolution, il devient primordial de disposer d'un système de gestion efficace qui vous permettra d'optimiser vos opérations, de rationaliser vos processus métiers et d'augmenter votre productivité. Odoo répond parfaitement à ces besoins en vous proposant une solution complète et adaptée.</p>
                </div>
            </div>
        </div>
    </div>  
</section>
<section class="choose-section">
    <div class="container">
      <figure class="choose-sideshape mb-0">
        <img
          src="{% static 'images/choose-sideshape.png' %}"
          alt=""
          class="img-fluid"
        />
      </figure>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-2">
          <div class="choose_wrapper">
            <figure class="mb-0 choose-image" style="top: 66px;">
              <img src="{% static 'images/ODOOO.png' %}" alt="" class="" />
            </figure>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-1">
          <div class="choose_content" data-aos="fade-right">
            <h5>Notre Approche pour Votre Projet Odoo</h5>
            <p class="text-white text-size-18">
                Chez SM@TCH, Nous nous efforçons de saisir les enjeux de votre secteur d'activité afin de concevoir une solution ERP sur-mesure qui y réponde parfaitement. 
                Notre engagement se poursuit par le biais d'une formation continue et d'un support dédié, 
                garantissant ainsi une maximisation de l'efficacité de votre solution ERP.
            </p>
          </div>
        </div>
      </div>
    </div>
    <figure class="choose-sideshape2">
      <img
        src="{% static 'images/choose-sideshape2.png' %}"
        alt=""
        class="img-fluid"
      />
    </figure>
</section>
<section class="work-process-section ptb-100">
   
</section>
<section class="provide-section cards">
    <div class="container-fluid">
        <figure class="team-sideimage mb-0">
            <img
            src="{% static 'images/team-sideimage.png' %}"
            class="img-fluid"
            alt=""
            />
        </figure>
        
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-9">
            <div class="section-heading text-center">
                <h2 >Nos services ERP Odoo</h2>
                <span class="animate-border mr-auto ml-auto mb-4"></span>
            </div>
        </div>
    </div>
    <!-- ============ step 1 =========== -->
    <div class="row">
        <div class="col-md-6 col-lg-3 promo-col">
            <div class="promo-item">
                <div class="promo-img">
                    
                </div>
                <h5> <i class="fa-solid fa-circle-exclamation" style="font-size: 30px; margin: 0 10px 0 0;"></i> Conseil</h5>
                <p>Avec notre expertise en numérique et une approche méthodique, 
                  nous résolvons vos défis complexes en vous offrant une expérience numérique immersive répondant à toutes vos attentes.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 promo-col">
            <div class="promo-item">
                <div class="promo-img">
                </div>
                <h5> <i class="fa-solid fa-sliders" style="font-size: 30px; margin: 0 10px 0 0;"></i> Integration </h5>
                <p>Nous répondons efficacement à vos besoins en vous offrant une solution personnalisée et performante basée sur Odoo. 
                  Profitez pleinement de tous les avantages de cette plateforme complète de gestion d'entreprise avec notre intégration réussie.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 promo-col">
            <div class="promo-item">
                <div class="promo-img">
                </div>
                <h5><i class="fa-solid fa-briefcase"  style="font-size: 30px; margin: 0 10px 0 0;"></i> Métiers </h5>
                <p>Notre expertise métier est un avantage clé lors de l'intégration d'Odoo. 
                  La solution que nous mettons en place s'adapte parfaitement et est personnalisée pour répondre efficacement à vos besoins spécifiques.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 promo-col">
            <div class="promo-item">
                <div class="promo-img">
                </div>
                <h5><i class="fa-solid fa-users-rectangle" style="font-size: 30px; margin: 0 10px 0 0;"></i> Formations </h5>
                <p>En plus de réaliser votre projet, nous nous engageons à former vos équipes pour une utilisation optimale de vos solutions technologiques. 
                  Notre objectif est de vous accompagner vers un succès durable.</p>
            </div>
        </div>
    </div>
        
</section>
  
{% endblock %}