{% extends 'masterPage.html' %} 
{% load static %}
{% block Content %}
<div class="banner_outer">
  <figure class="banner-sideshape mb-0">
    <img src="{% static 'images/banner-sideshape.png' %}" alt="" class="img-fluid" />
  </figure>
  <!-- Banner -->
  <section class="banner-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12 h-100">
          <div class="banner_content">
            <h1 class="text-white">
              Révolutionnez votre Supply Chain avec SM@TCH
            </h1>
            <p class="text-white">
              Des solutions web et mobiles pour une gestion intelligente de
              votre chaîne d'approvisionnement.
            </p>
            <div class="banner-button">
              <a
                class="button1 lets_talk text-decoration-none"
                href="about.html"
                >Voir plus<i class="circle fa-regular fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
          <div class="banner_wrapper" data-aos="fade-right">
            <figure class="mb-0 banner-image">
              <img src="{% static 'images/banner-image.png' %}" alt="" class="" />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <figure class="banner-sideshape2 mb-0">
      <img src="{% static 'images/banner-sideshape2.png' %}" alt="" class="img-fluid" />
    </figure>
  </section>
</div>
<section class="provide-section">
  <div class="container">
    <figure class="team-sideimage mb-0">
      <img src="{% static 'images/team-sideimage.png' %}" class="img-fluid" alt="" />
    </figure>
    <div class="row">
      <div class="col-12">
        <div class="provide_content" data-aos="fade-right">
          <h5>SERVICES QUE NOUS FOURNISSONS</h5>
          <h2>
            Notre objectif est d’offrir l’excellence en matière de service et
            d’exécution
          </h2>
        </div>
      </div>
    </div>
    <div class="service_contentbox">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="service-box box-mb">
            <div class="box-image">
              <figure class="service-reboticon">
                <img
                  src="{% static 'images/counter-image1.png' %}"
                  alt=""
                  class="img-fluid"
                />
              </figure>
            </div>
            <div class="box-content">
              <h4>Intégrateur et Éditeur de Solutions Supply Chain</h4>
              <p class="text-size-16">
                Des solutions WMS, TMS, et plus pour renforcer votre Suppy
                chain.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="service-box box-mb">
            <div class="box-image">
              <figure class="service-learningicon">
                <img src="{% static 'images/rfid.png' %}" alt="" class="img-fluid" />
              </figure>
            </div>
            <div class="box-content">
              <h4>Intégrateur et Éditeur de Solutions 4.0</h4>
              <p class="text-size-16">
                Solutions intelligentes pour l'Industrie 4.0.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="service-box">
            <div class="box-image">
              <figure class="service-scienceicon">
                <img src="{% static 'images/dev.png' %}" alt="" class="img-fluid" />
              </figure>
            </div>
            <div class="box-content">
              <h4>Développement sur mesure pour une Supply Chain</h4>
              <p class="text-size-16">
                Solutions sur mesure pour répondre aux besoins spécifiques de
                votre Supply chain.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="service-box">
            <div class="box-image">
              <figure class="service-analysicon">
                <img src="{% static 'images/erp.png' %}" alt="" class="img-fluid" />
              </figure>
            </div>
            <div class="box-content">
              <h4>Intégrateur d'ERP Odoo</h4>
              <p class="text-size-16">
                Intégration personnalisée du système ERP Odoo pour optimiser vos
                processus métier.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="choose-section">
  <div class="container">
    <figure class="choose-sideshape mb-0">
      <img src="{% static 'images/choose-sideshape.png' %}" alt="" class="img-fluid" />
    </figure>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-2">
        <div class="choose_wrapper">
          <figure class="mb-0 choose-image">
            <img src="{% static 'images/choose-image.png' %}" alt="" class="" />
          </figure>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-1">
        <div class="choose_content" data-aos="fade-right">
          <h5>Pourquoi choisir SM@TCH ?</h5>
          <h2 class="text-white">
            Examinez de plus près l'évolution des activités dans la Supply chain
          </h2>
          <p class="text-white text-size-18">
            Notre équipe de développeurs possède une connaissance approfondie
            des défis et des opportunités spécifiques à votre secteur
            d'activité. Qu'il s'agisse de la logistique, de la production ou de
            la distribution, nous sommes experts dans l'identification des
            solutions adaptées à vos besoins.
          </p>
        </div>
      </div>
    </div>
  </div>
  <figure class="choose-sideshape2 mb-0">
    <img src="{% static 'images/choose-sideshape2.png' %}" alt="" class="img-fluid" />
  </figure>
</section>
<!-- Case Study -->
<section class="projects-section-five">
  <div class="study_content text-center">
    <h5>Solutions</h5>
    <h2>Nos Réalisations</h2>
  </div>
  <div class="auto-container mt-5">
    <div class="row">
      <!-- Project Block Five-->
      <div
        class="project-block-five col-lg-4 col-md-6 wow fadeInUp animated"
        style="visibility: visible; animation-name: fadeInUp"
      >
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="#"><img src="{% static 'images/project5-4.jpg' %} " alt="" /></a>
            </figure>
          </div>
          <div class="caption-box">
            <h4 class="title">
              <a
                href="#"
                style="
                  color: #f1c255 !important;
                  text-decoration: none !important;
                "
                >RFID</a
              >
            </h4>
            <a href="#" class="read-more"
              >Voir plus <i class="fa fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- Project Block Five-->
      <div
        class="project-block-five col-lg-4 col-md-6 wow fadeInUp animated"
        data-wow-delay="200ms"
        style="
          visibility: visible;
          animation-delay: 200ms;
          animation-name: fadeInUp;
        "
      >
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="#"><img src="{% static 'images/project5-4.jpg' %} " alt="" /></a>
            </figure>
          </div>
          <div class="caption-box">
            <h4 class="title">
              <a
                href="#"
                style="
                  color: #f1c255 !important;
                  text-decoration: none !important;
                "
                >Tour de controle</a
              >
            </h4>
            <a href="#" class="read-more"
              >Voir plus <i class="fa fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- Project Block Five-->
      <div
        class="project-block-five col-lg-4 col-md-6 wow fadeInUp animated"
        data-wow-delay="300ms"
        style="
          visibility: visible;
          animation-delay: 300ms;
          animation-name: fadeInUp;
        "
      >
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="#"><img src="{% static 'images/project5-4.jpg' %} " alt="" /></a>
            </figure>
          </div>
          <div class="caption-box">
            <h4 class="title">
              <a
                href="#"
                style="
                  color: #f1c255 !important;
                  text-decoration: none !important;
                "
                >Warehouse management system</a
              >
            </h4>
            <a href="#" class="read-more"
              >Voir plus <i class="fa fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12 text-center">
        <a href="projects.html" class="button" style="--clr: #ffbc1e"
          ><span>Voir tout</span><i></i
        ></a>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial -->
<section class="testimonial-section">
  <div class="container">
    <div class="row position-relative">
      <div class="col-12">
        <div class="heading">
          <h5>TÉMOIGNAGES</h5>
          <h2>Écoutez-le de nos clients</h2>
        </div>
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="testimonial_content">
                <div class="content-box">
                  <p class="h4">
                    “Quisquam est, qui dolorem ipsum quia dolor sit amet conse
                    aetur, adipisci velit, sed ruia non numquam eius modi temor
                    incidunt ut labore et dolore magnam alieuam zuaerat voluta
                    tem nostrum exercitationem”
                  </p>
                  <figure class="testimonial-image mb-0">
                    <img
                      src="{% static 'images/testimonial-image.png' %}"
                      alt=""
                      class="img-fluid"
                    />
                  </figure>
                  <span class="text-size-18">Peter Johns</span>
                  <span class="text-size-16 mb-0"
                    >Head of informatics at EBI</span
                  >
                  <div class="box">
                    <figure class="testimonial-comas mb-0">
                      <img
                        src="{% static 'images/testimonial-comas.png' %}"
                        alt=""
                        class="img-fluid"
                      />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item active">
              <div class="testimonial_content">
                <div class="content-box">
                  <p>
                    “Quisquam est, qui dolorem ipsum quia dolor sit amet conse
                    aetur, adipisci velit, sed ruia non numquam eius modi temor
                    incidunt ut labore et dolore magnam alieuam zuaerat voluta
                    tem nostrum exercitationem”
                  </p>
                  <figure class="testimonial-image mb-0">
                    <img
                      src="{% static 'images/testimonial-image.png' %}"
                      alt=""
                      class="img-fluid"
                    />
                  </figure>
                  <span class="text-size-18">Peter Johns</span>
                  <span class="text-size-16 mb-0"
                    >Head of informatics at EBI</span
                  >
                  <div class="box">
                    <figure class="testimonial-comas">
                      <img
                        src="{% static 'images/testimonial-comas.png' %}"
                        alt=""
                        class="img-fluid"
                      />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-outer">
            <a
              class="carousel-control-next"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <i class="fa-solid fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
            <a
              class="carousel-control-prev"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <i class="fa-solid fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <figure class="mb-0 testimonial-sideimage">
      <img
        src="{% static 'images/testimonial-sideimage.png' %}"
        alt=""
        class="img-fluid"
      />
    </figure>
  </div>
  <!-- Partner -->
  <div class="partner-section">
    <div class="container">
      <div class="partner aos-init aos-animate" data-aos="fade-up">
        <ul class="mb-0 list-unstyled">
          <li>
            <figure class="mb-0 partner1 img1">
              <img
                class="img-fluid"
                src="{% static 'assets/images/partner1.png' %}"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="mb-0 partner1 partner2 img2">
              <img
                class="img-fluid"
                src="{% static 'images/partner2.png' %}"
                alt=""
              />
            </figure>
          </li>
          <li class="img-mb">
            <figure class="mb-0 partner1 partner3 img3">
              <img
                class="img-fluid"
                src="{% static 'images/partner3.png' %}"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="mb-0 partner1 partner4 img4">
              <img
                class="img-fluid"
                src="{% static 'images/partner4.png' %}"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="mb-0 partner1 partner5 img5">
              <img
                class="img-fluid"
                src="{% static 'images/partner5.png' %}"
                alt=""
              />
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--FAQ / Need section-->
<section class="faq-section provide-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="faq_content text-center" data-aos="fade-right">
          <h5>faq,s</h5>
          <h2>Questions fréquentes</h2>
          <div class="faq">
            <div class="row">
              <div class="col-12">
                <div class="accordian-section-inner position-relative">
                  <div class="accordian-inner">
                    <div id="accordion1">
                      <div class="accordion-card">
                        <div class="card-header" id="headingOne">
                          <a
                            href="#"
                            class="btn btn-link collapsed"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne"
                          >
                            <h4>
                              Quels types de solutions proposez-vous pour la
                              Supply Chain ?
                            </h4>
                          </a>
                        </div>
                        <div
                          id="collapseOne"
                          class="collapse"
                          aria-labelledby="headingOne"
                        >
                          <div class="card-body">
                            <p class="text-size-18 text-left mb-0">
                              Nous proposons des solutions WMS, TMS, des
                              applications mobiles et plus encore pour optimiser
                              votre Supply Chain.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-card">
                        <div class="card-header" id="headingTwo">
                          <a
                            href="#"
                            class="btn btn-link collapsed"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                          >
                            <h4>
                              Pouvez-vous personnaliser vos solutions en
                              fonction de nos besoins spécifiques?
                            </h4>
                          </a>
                        </div>
                        <div
                          id="collapseTwo"
                          class="collapse"
                          aria-labelledby="headingTwo"
                        >
                          <div class="card-body">
                            <p class="text-size-18 text-left mb-0">
                              Oui, nos solutions sont personnalisées pour
                              répondre à vos besoins uniques.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-card">
                        <div class="card-header" id="headingThree">
                          <a
                            href="#"
                            class="btn btn-link collapsed"
                            data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                          >
                            <h4>
                              Vos solutions sont-elles compatibles avec notre
                              infrastructure existante ?
                            </h4>
                          </a>
                        </div>
                        <div
                          id="collapseThree"
                          class="collapse"
                          aria-labelledby="headingThree"
                        >
                          <div class="card-body">
                            <p class="text-size-18 text-left mb-0">
                              Oui, nos solutions s'intègrent facilement avec
                              votre infrastructure actuelle.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-card">
                        <div class="card-header" id="headingFour">
                          <a
                            href="#"
                            class="btn btn-link collapsed"
                            data-toggle="collapse"
                            data-target="#collapseFour"
                            aria-expanded="false"
                            aria-controls="collapseFour"
                          >
                            <h4>
                              Proposez-vous des services de maintenance et de
                              support après la mise en œuvre ?
                            </h4>
                          </a>
                        </div>
                        <div
                          id="collapseFour"
                          class="collapse"
                          aria-labelledby="headingFour"
                        >
                          <div class="card-body">
                            <p class="text-size-18 text-left mb-0">
                              Oui, nous offrons des services de maintenance et
                              de support pour assurer un fonctionnement fluide.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-card faq-mb">
                        <div class="card-header" id="headingFive">
                          <a
                            href="#"
                            class="btn btn-link collapsed"
                            data-toggle="collapse"
                            data-target="#collapseFive"
                            aria-expanded="false"
                            aria-controls="collapseFive"
                          >
                            <h4>
                              Comment puis-je prendre contact avec votre équipe
                              pour discuter de nos besoins ?
                            </h4>
                          </a>
                        </div>
                        <div
                          id="collapseFive"
                          class="collapse"
                          aria-labelledby="headingFive"
                        >
                          <div class="card-body">
                            <p class="text-size-18 text-left mb-0">
                              Contactez-nous par téléphone, e-mail ou via le
                              formulaire de contact sur notre site web. Nous
                              serons ravis de vous aider.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
