{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>SM@TCH | Votre Partenaire Supply Chain</title>
    <!-- /SEO Ultimate -->
    <meta
      name="keywords"
      content="SM@TCH,smatch,sls partner,solutions Supply Chain, éditeur, intégrateur, chaîne d'approvisionnement, applications web, applications mobiles"
    />
    <meta name="robots" content="index, follow" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="assets/images/favicon/favicon-smatch.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="assets/images/favicon/favicon-smatch.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="assets/images/favicon/favicon-smatch.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="assets/images/favicon/favicon-smatch.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="assets/images/favicon/favicon-smatch.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="assets/images/favicon/favicon-smatch.png"
    />
    <link rel="stylesheet" href="{% static 'css/card.css' %}" />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{% static 'images/favicon/favicon-smatch.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{% static 'images/favicon/favicon-smatch.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/favicon/favicon-smatch.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{% static 'images/favicon/favicon-smatch.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon/favicon-smatch.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{% static 'images/favicon/favicon-smatch.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon/favicon-smatch.png' %}"
    />
    <meta name="msapplication-TileColor" content="#FF9B05 " />
    <meta name="theme-color" content="#FF9B05 " />
    <!-- Latest compiled and minified CSS -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" />
    <script rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}" ></script>
    <!-- Font Awesome link -->
    <script
      src="https://kit.fontawesome.com/5fe1e407a2.js"
      crossorigin="anonymous"
    ></script>
    <!-- StyleSheet link CSS -->
    <link
      href="{% static 'css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/owl.carousel.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="{% static 'css/owl.theme.default.min.css' %} "
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/responsive.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #fff">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"
        ><figure class="mb-0 banner-logo">
          <img
            src="{% static 'images/smatch-logo.png' %} "
            style="width: 150px; height: auto"
            alt=""
            class="img-fluid"
          /></figure
      ></a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Accueil</a>
          </li>
          <li class="nav-item text-dart">
            <a class="nav-link text-dart" href="{% url 'about' %} ">A propos</a>
          </li>
          <li class="nav-space nav-item dropdown">
            <a
              class="nav-link dropdown-toggle dropdown-color navbar-text-color"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Projets
            </a>
            <div class="dropdown-menu drop-down-content">
              <ul class="list-unstyled drop-down-pages">
                <li class="nav-item">
                  <a
                    class="dropdown-item nav-link text-dart"
                    href="{% url 'project' %}"
                    >Solutions</a
                  >
                </li>
                <li class="nav-item">
                  <a class="dropdown-item nav-link text-dart" href="{% url 'erp' %}"
                    >ERP Odoo</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-space nav-item">
            <a class="nav-link text-dart" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


{% block Content %}
    
{% endblock  %}
    



  
  <section class="footer-section">
    <div class="container">
      <figure class="footer-sideshape mb-0">
        <img
          src="{% static 'images/footer-sideshape.png' %}"
          alt=""
          class="img-fluid"
        />
      </figure>
      <div class="middle-portion">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-6 col-12">
            <a href="{% url 'home' %}">
              <figure class="footer-logo">
                <img
                  src="{% static 'images/smatch-logo.png' %}"
                  style="width: 230px; height: auto"
                  class="img-fluid"
                  alt=""
                />
              </figure>
            </a>
            <p class="text-size-16 footer-text text-white">
              Chez SM@TCH, nous sommes spécialisés dans les solutions Supply
              Chain, vous aidant à optimiser votre chaîne d'approvisionnement
              avec des technologies de pointe. Soyez compétitif et atteignez
              l'excellence opérationnelle.
            </p>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-12 col-12">
            <div class="links">
              <h4 class="heading text-white">Résequ sociaux</h4>
              <ul class="list-unstyled mb-0 social-icons">
                <li class="circle">
                  <a href="#" class="text text-decoration-none"
                    ><i class="fa-brands fa-twitter"></i> Twitter</a
                  >
                </li>
                <li class="circle">
                  <a href="#" class="text text-decoration-none"
                    ><i class="fa-brands fa-linkedin-in"></i> Linkedin</a
                  >
                </li>
                <li class="circle">
                  <a href="#" class="text text-decoration-none"
                    ><i class="fa-brands fa-instagram"></i> Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg- col-md-2 col-sm-12 col-12">
            <div class="links">
              <h4 class="heading text-white">Liens utiles</h4>
              <ul class="list-unstyled mb-0">
                <li>
                  <i class="fa-solid fa-angle-right"></i
                  ><a
                    href="index-2.html"
                    class="text-size-16 text text-decoration-none"
                    >Accueil</a
                  >
                </li>
                <li>
                  <i class="fa-solid fa-angle-right"></i
                  ><a
                    href="about.html"
                    class="text-size-16 text text-decoration-none"
                    >A propos</a
                  >
                </li>
                <li>
                  <i class="fa-solid fa-angle-right"></i
                  ><a
                    href="projects.html"
                    class="text-size-16 text text-decoration-none"
                    >Solutions</a
                  >
                </li>
                <li>
                  <i class="fa-solid fa-angle-right"></i
                  ><a
                    href="projects.html"
                    class="text-size-16 text text-decoration-none"
                    >ERP Odoo</a
                  >
                </li>
                <li>
                  <i class="fa-solid fa-angle-right"></i
                  ><a
                    href="contact.html"
                    class="text-size-16 text text-decoration-none"
                    >Contact</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="icon">
              <h4 class="heading text-white">Contact</h4>
              <ul class="list-unstyled mb-0">
                <li class="text">
                  <i class="fa fa-phone fa-icon footer-location"></i>
                  <a
                    href="tel:
                    +212 12345678
                    "
                    class="mb-0 text text-decoration-none text-size-16"
                  >
                    (212) 12345678
                  </a>
                </li>
                <li class="text">
                  <i class="fa fa-envelope fa-icon footer-location"></i>
                  <a
                    href="mailto:info@repay.com"
                    class="mb-0 text text-decoration-none text-size-16"
                    >contact@smtch.com</a
                  >
                </li>
                <li class="text">
                  <i
                    class="fa-solid fa-location-dot footer-location footer-location3"
                  ></i>
                  <p class="text-size-16">Technopark,Boulvard Fes,casablanca</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="row">
          <div class="col-12">
            <p class="mb-0 text-white">
              Copyright 2023, SM@TCH.com All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a href="https://wa.me/+212661616798" target="_blank" class="whatsapp-float">
    <i class="fa fa-whatsapp whatsapp-icon"></i>
  </a>

  <!-- Latest compiled JavaScript -->
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/video_link.js' %}js"></script>
  <script src="{% static 'js/video.js' %}"></script>
  <script src="{% static 'js/counter.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/animation_links.js' %}"></script>
  <script src="{% static 'js/animation.js' %}"></script> 
</html>
